{deps, [
    {cqerl, ".*", {git, "https://github.com/matehat/cqerl.git", {tag, "v1.0.4"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.8"}}},
    {emqttc, ".*", {git, "https://github.com/emqtt/emqttc.git", {tag, "v0.2.1-beta"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.15.1"}}}
]}.
